/*style.css*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-image: url('adminloginbg.jpg');
    background-size: cover;
    flex-direction: column;
    margin: 0;
}

.main {
    /* background-color: #e3e3e3; */
    /* background-color: #fff; */
    border-radius: 15px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    /* color: #4CAF50; */
    
    /* color: #4c8aaf; */
    color:darkblue;
    font-size: 59px;
    /* background-color: pink; */
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    /* color: #555; */
    color:black;
    font-weight: bold;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4c8aaf;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    /* display:block; */
    /* margin-left: 0px; */
    /* margin: 0px; */
    /* margin-top: 100px; */
    height: 170px;
    /* background-color: red; */
    width: 170px;
}

#heading{
    display:block;
    margin: 0px;
    /* color: red; */
    /* padding-top: 50px; */
}


#bg{
    width: 100%;
    height: 100%;
    /* display: ; */
}